@{
    ViewData["Title"] = "Home Page";
}

@using System.Security.Claims

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @User.Claims.SingleOrDefault(c => c.Type.Equals(ClaimTypes.Name)).Value
</div>
