@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Policy belong to: </p>
<ul>
    <li>Nguyễn Minh Trung</li>
    <li>Huỳnh Ngô Gia Bảo</li>
    <li>Nguyễn Bảo Toàn</li>
    <li>Nguyễn Bùi Nhật Tân</li>
    <li>Phạm Hà Duy</li>
</ul>
